__pycache__/
venv_kenmesh/
old_venv_kenmesh/
venv_bertmesh/
lightning_logs/
home/
data/

*.json
*.pkl
*.txt
*.csv
*.w2v
*.pt
*.pkl
*.bin
*.npy

pred
pred2
true_label
true_label2
pred_past
true_label_past
model
model_new
model34

model1000
model1001
model1002
model1003
model1004
model1005
model1006
model1007
model1008
model1009
